extends ../layouts/common.pug

block content
    h1 Create visitor

    form(action="/visitor/create", method="POST")
        .form-group 
            label Name:
            input.form-control(type="text", name="name", value="")

        .form-group
            label Age:
            input.form-control(type="text", name="age", value="")
        button.btn.btn-primary Create