h1 Create visitor

form(action="/visitor/create", method="POST")
    label Name:
    input(type="text", name="name", value="")
    label Age:
    input(type="text", name="age", value="")
    
    button Create
