extends ../layouts/common.pug

block content
  h1 VISITOR
  p Welcome

  form(action="/visitor/search", method="GET")
    input(type="text", name="q")
    button Search

  table.table
    thead.thead-dark
      tr
        th(scope='col') #ID
        th(scope='col') Name
        th(scope='col') Age
        th(scope='col') Operation
    each visitor in listVisitor
      tbody
        tr
          th(scope='row')= visitor._id
          td= visitor.name
          td= visitor.age
          td
            a.btn.btn-danger(href="/visitor/update/" + visitor._id) Update
            a.btn.btn-warning(href="/visitor/delete/" + visitor._id) Delete

  a.btn.btn-primary(href="/visitor/create") Create visitor

