extends ../layouts/common.pug

block content
    h1 Create user

    form(action="/user/create", method="POST")
        label User:
        input(type="text", name="user", value="")
        label Password:
        input(type="password", name="password", value="")
        label Confirm:
        input(type="password", name="confirm", value="")
        button Create
