extends ../layouts/common.pug

block content
    h1 Login user

    form(action="/user/login", method="POST")
    .form-group 
        label User:
        input.form-control(type="text", name="user", value="")

    .form-group 
        label Password:
        input.form-control(type="password", name="password", value="")
    button.btn.btn-primary Login