h1 Create duty

form(action="/duty/create", method="POST")
    label Name:
    input(type="text", name="name", value="")
    label Time:
    input(type="text", name="age", value="")
    label Phone:
    input(type="text", name="phone", value="")
    label Place:
    input(type="text", name="place", value="")
    button Create
