extends ../layouts/common.pug

block content

    h1.text-center UPDATE DUTY
    p.text-center ID: #{duty._id}

    form(action="/duty/update" + duty._id, method="POST")
        .form-group 
            label Name:
            input.form-control(type="text", name="name", value="")

        .form-group 
            label Time:
            input.form-control(type="text", name="time", value="")
    
        .form-group
            label Phone:
            input.form-control(type="text", name="phone", value="")

        .form-group
            label Place:
            input.form-control(type="text", name="place", value="")
        button.btn.btn-primary Update