extends ../layouts/common.pug

block content

    h1 UPDATE DUTY
    p ID: #{duty._id}

    form(action="/duty/update/" + duty._id, method="POST")
        label Name:
        input(type="text", name="name", value="")
        label Time:
        input(type="text", name="age", value="")
        label Phone:
        input(type="text", name="phone", value="")
        label Place:
        input(type="text", name="place", value="")
        button Create