h1 STUDENT
p Welcome

ul
  each student in listStudent
    li= student._id
    li= student.name
    li= student.age

a(href="/student/create") Create student
a(href="/student/update") Update student
a(href="/student/delete") Delete student